:root {
    --main-color: #008164;
}


html {
    display: table;
    margin: 30px auto;
}


body {
    /* margin-top: 10px; */
    width: 1280px;
    display: table-cell;
    vertical-align: middle;
	font-family: Montserrat-Light, sans-serif;


}


a {
    text-decoration: none;
    color: inherit;
}


header {
  border: 5px solid var(--main-color);
  border-radius: 20px;
}


.header_container {
  word-wrap: break-word;
  padding: 0.75%;
}


.container {
    display: flex;
    justify-content: space-between;
}


.header_container {
    /* text-align: center; */
    align-items: center;
}


.header_block {
    height: 100px;
    /* margin-left: 1%;
    margin-right: 1%; */
    font-size: 20px;
}


.header_block p {
    margin-top: 0px;
    margin-bottom: 0px;
}


#header_vertical_line {
    height: 50px;
    /* border-width: 5px; */
    /* border-color: var(--main-color); */
    border: 3px solid var(--main-color);
    margin-left:    0px;
    margin-right: 40px;
}


#header_block1 {
    width: 26%;
    height: 100%;
    font-size: 21px;
    padding-left: 15px;

}


#header_block2 {
    width: 35%;
    height: 100%;
    vertical-align: middle;
    margin-right: 1%;
}


#header_block3 {
}


#header_block4 {
}


button.header_button {
    width: 15%;
    /* height: 100%; */
    background-color: var(--main-color);
    border: none;
    border-radius: 21px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: white;
	cursor: pointer;
}

.header_button p {
    height: 100%;
    margin-top: 8%;
    /* margin-bottom: auto; */
    vertical-align: middle;
    text-align: center;
    align-items: center;
}


footer {
    height: 50%;
}


.footer_block {
    border: 5px solid var(--main-color);
    border-radius: 15px;
    height: 50%;
}


.footer_text_container {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    /* height: 10%; */
}


.footer_text_container img {
    height: 50%;
}


.footer_button {
    margin: 15px;
    /* margin-top: 10px; */
    height: 50%;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 15px 20px;
    text-align: right;
    vertical-align: middle;
    color: white;
    font-size: 25px;
}


.footer_button p {
    margin-top: 5px;
    margin-bottom: 5px;
}


.button_hint_parent {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.button_hint {
    width: 700px;
    height: 700px;
    position: fixed;
    top: 30%;
    left: 63%;
    margin: -125px 0 0 -125px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    background-color: white;
    text-align: left;
	transition: opacity 2s ease;
	animation: ani 0.3s forwards;
	padding: 15px;
}

.close {
	position: fixed;	
	width: 40px;
	height: 35px;
	top: 17%;
	right: 5%;
	border-radius: 10px 0 10px 0;
	border: 3px solid var(--main-color);
	cursor: pointer;
	transition: box-shadow 0.5s, color 0.5s; /* Анимация при наведении */
}

.close:hover {
    color: red; /* Новый цвет текста при наведении */
    box-shadow: 0 0 10px #ff5722; /* Эффект "подсветки" при наведении */
}

.close-main {
	position: fixed;	
	width: 40px;
	height: 35px;
	top: 23%;
	right: 24.5%;
	border-radius: 10px 0 10px 0;
	border: 3px solid var(--main-color);
	cursor: pointer;
	transition: box-shadow 0.5s, color 0.5s; /* Анимация при наведении */
}

.close-main:hover {
	color: red; /* Новый цвет текста при наведении */
    box-shadow: 0 0 10px #ff5722; /* Эффект "подсветки" при наведении */
}

.button_hint p {
    font-size: 20px;
}


.button_hint button {
    font-size: 20px;
}


.theme_container {
    margin-top: 10px;
    height: 200px;
    align-items: center;
}


.theme {
    /* margin: 0px 10px; */
}


.theme p {
    font-weight: bold;
    font-size: 26px;
}


#to_main_block {
    width: 20%;
}


#theme_block {
    width: 70%;
    text-align: center;
}


.to_main_top_block {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.to_main_top_block p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 5px;
}


.to_main_top_block img {
    height: 78%;
    margin: 0px 5px;
}


.to_main_button {
    background-color: var(--main-color);
    color: white;
    border: 5px solid var(--main-color);
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    padding: 5px 0px;
}
