:root {
    --main-color: #008164;
}


html {
    display: table;
    margin: 30px auto;
}


body {
    /* margin-top: 10px; */
    width: 1280px;
    display: table-cell;
    vertical-align: middle;


}


a {
    text-decoration: none;
    color: inherit;
}


/* .header {
    background-color: white;
    padding: -20px;
    display: flex;
    justify-content: space-between; /* Расположение блоков по краям
    align-items: center; /* Выравнивание по центру вертикально
    border-radius: 20px;
}


/* .header-border {
    background-color: white;
	border: 5px solid var(--main-color);
    border-radius: 20px;
    padding: 3px;
	margin: 15px;
}

.header h1 {
    color: #000000;
}

.header-block-left {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 20px 30px; Уменьшил внутренний отступ
    margin-left: -10%;
    width: 160px; /* Задал определенную ширину блоков
    white-space: normal; /* Перенос текста на новую строку
    text-align: center;
}

.underline {
	text-decoration: underline black;
	color: black; /* Цвет текста
}

.header-block-right {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 20px 30px; /* Уменьшил внутренний отступ
    margin-right: 100px;
    width: 160px; /* Задал определенную ширину блоков
    white-space: normal; /* Перенос текста на новую строку
    text-align: center;
}

#header_vertical_line {
    margin-left: -2%;
    height: 70px;
    border: 2px solid var(--main-color);
}

.header-left-block {
    background-color: white;
    padding: 10px 15px;
    margin-left: 2%;
    width: 10%;
    white-space: normal;
    min-width: 9%;
}

.header-right-block {
    background-color: white;
    padding: 10px 15px;
    margin-right: 50rem;
    width: 20%;
    white-space: normal;
    min-width: 19%;
} */



header {
  border: 5px solid var(--main-color);
  border-radius: 20px;
}


.header_container {
  word-wrap: break-word;
  padding: 0.75%;
}


.container {
    display: flex;
    justify-content: space-between;
}


.header_container {
    /* text-align: center; */
    align-items: center;
}


.header_block {
    height: 100px;
    /* margin-left: 1%;
    margin-right: 1%; */
    font-size: 20px;
}


.header_block p {
    margin-top: 0px;
    margin-bottom: 0px;
}


#header_vertical_line {
    height: 50px;
    /* border-width: 5px; */
    /* border-color: var(--main-color); */
    border: 3px solid var(--main-color);
    margin-left:    0px;
    margin-right: 40px;
}


#header_block1 {
    width: 15%;
    height: 100%;
    font-size: 21px;
    padding-left: 15px;

}


#header_block2 {
    width: 47%;
    height: 100%;
    vertical-align: middle;
    margin-right: 20px;
}


#header_block3 {
}


#header_block4 {
}


button.header_button {
    width: 15%;
    /* height: 100%; */
    background-color: var(--main-color);
    border: none;
    border-radius: 21px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: white;
	cursor: pointer;
}

.header_button p {
    height: 100%;
    margin-top: 8%;
    /* margin-bottom: auto; */
    vertical-align: middle;
    text-align: center;
    align-items: center;
}


footer {
    height: 50%;
}


.footer_block {
    border: 5px solid var(--main-color);
    border-radius: 15px;
    height: 50%;
}


.footer_text_container {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    /* height: 10%; */
}


.footer_text_container img {
    height: 50%;
}


.footer_button {
    margin: 15px;
    /* margin-top: 10px; */
    height: 50%;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 15px 20px;
    text-align: right;
    vertical-align: middle;
    color: white;
    font-size: 25px;
}


.footer_button p {
    margin-top: 5px;
    margin-bottom: 5px;
}



/* .footer-border {
    background-color: white; /* Белый фон блока *
    border: 5px solid var(--main-color);/* Зеленая окантовка *
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
}

.footer {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center; /* Выравнивание по вертикали *
    justify-content: space-between; /* Расположение элементов справа *
}

.footer-text {
    font-weight: bold;
    margin-top: -55px;
    margin-left: 70px; /* Отступ слева от текста *
    font-size: 40px;
}

.footer-left {
    flex: 1; /* Делаем левый блок растягивающимся *
    margin-bottom: -50px;
    }

    img {
            vertical-align: middle;; /* Устанавливаем вертикальное выравнивание по середине *
}

.footer-right {
    display: flex;
    align-items: center;
}

.green-block {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 15px 20px;
    text-align: right;
    margin-top: -12px;
}

.white-text {
    color: white
} */



.button_hint_parent {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.button_hint {
    width: 600px;
    height: 400px;
    position: fixed;
    top: 30%;
    left: 63%;
    margin: -125px 0 0 -125px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    background-color: white;
    text-align: center;
	transition: opacity 2s ease;
	animation: ani 0.3s forwards;
}


.button_hint p {
    font-size: 20px;
}


.button_hint button {
    font-size: 20px;
}


.theme_container {
    margin-top: 10px;
}


.theme {
    /* margin: 0px 10px; */
}


.theme p {
    font-weight: bold;
    font-size: 26px;
}


#to_main_block {
    width: 20%;
}


#theme_block {
    width: 70%;
    text-align: center;
}


.to_main_top_block {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.to_main_top_block p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 5px;
}


.to_main_top_block img {
    height: 78%;
    margin: 0px 5px;
}


.to_main_button {
    background-color: var(--main-color);
    color: white;
    border: 5px solid var(--main-color);
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    padding: 5px 0px;
}
