:root {
    --main-color: #008164;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    background-color: white;
    padding: -20px;
    display: flex;
    justify-content: space-between; /* Расположение блоков по краям */
    align-items: center; /* Выравнивание по центру вертикально */
    border-radius: 20px;
}

.header-border {
    background-color: white;
	border: 5px solid var(--main-color);
    border-radius: 20px;
    padding: 3px;
	margin: 15px;
}

.header h1 {
    color: #000000;
}

.header-block-left {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 20px 30px; /* Уменьшил внутренний отступ */
    margin-left: -10%;
    width: 160px; /* Задал определенную ширину блоков */
    white-space: normal; /* Перенос текста на новую строку */
    text-align: center;
}

.underline {
	text-decoration: underline black;
	color: black; /* Цвет текста */
}

.header-block-right {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 20px 30px; /* Уменьшил внутренний отступ */
    margin-right: 100px;
    width: 160px; /* Задал определенную ширину блоков */
    white-space: normal; /* Перенос текста на новую строку */
    text-align: center;
}

.header-block-text {
    color: white;
    font-size: 20px;
}

#header_vertical_line {
    margin-left: -2%;
    height: 70px;
    border: 2px solid var(--main-color);
}

.header-left-block {
    background-color: white;
    padding: 10px 15px;
    margin-left: 2%;
    width: 10%;
    white-space: normal;
    min-width: 9%;
}

.header-right-block {
    background-color: white;
    padding: 10px 15px;
    margin-right: 50rem;
    width: 20%;
    white-space: normal;
    min-width: 19%;
}

.container {
    min-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    flex-grow: 1;
    flex-direction: column;
}

.size {
  font-size: 20px;
}

.content {
    text-align: center;
    margin-top: -11%;
    margin-bottom: -1%;
    font-size: 27px;
}

.blocks-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

.block {
    background-color: white; /* Белый фон блока */
    border: 10px solid var(--main-color); /* Зеленая окантовка */
    border-radius: 80px 0px;
    height: 25rem;
    width: 21rem;
    margin: 10px 5% -7%;
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    font-size: 10px;
    font-weight: bold;
}

.icon-square {
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-square img {
    width: 25px;
    height: 30px;
    margin-top: 4px;
}

.underline {
    text-decoration: underline;
}

.footer-border {
    background-color: white; /* Белый фон блока */
    border: 5px solid var(--main-color);/* Зеленая окантовка */
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-between; /* Расположение элементов справа */
}

.footer-text {
    font-weight: bold;
    margin-top: -55px;
    margin-left: 70px; /* Отступ слева от текста */
    font-size: 40px;
}

.footer-left {
    flex: 1; /* Делаем левый блок растягивающимся */
    margin-bottom: -50px;
    }

    img {
            vertical-align: middle;; /* Устанавливаем вертикальное выравнивание по середине */
}

.footer-right {
    display: flex;
    align-items: center;
    margin-left: 100rem;
}

.green-block {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 15px 20px;
    text-align: right;
    margin-top: -12px;
}

.white-text {
    color: white
}

.container2 {
    display: inline;
    width: 100%;
}

.inline_block {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.text_perenos {
    word-wrap: break-word;
    width: 50%;
}

.button {
    border: medium none;
    background-image: none;
    background: transparent;
    background-color: transparent;
    cursor: pointer;
}

.main-block-left {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 11px 30px; /* Уменьшил внутренний отступ */
    width: 190px; /* Задал определенную ширину блоков */
    white-space: normal; /* Перенос текста на новую строку */
    text-align: center;
}
.main-left {
    margin-left: 50px;
    width: 20%;
}

.main-right {
    float: right;
    width: 80%;
    text-align: center;
    margin-top: -8%;
    font-size: 20px;
    height: 140px;
}

.main {
    width: 97%;
    margin-left: 50px;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

li {
    list-style: none; /* Убираем маркеры списка */
    margin-right: 10px; /* Отступ между блоками */
    border: 4px solid var(--main-color);
    padding: 11px 15px;
    border-radius: 7px;
    margin-top: 25px;
    font-size: 20px;
    color: var(--main-color);
}

.main-center {
    margin-left: 70px;
}

.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    margin: -15rem 3%;
    width: 60rem;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    z-index: 1;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
	font-size: 15px;
	border: 2px solid var(--main-color);
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.button_hint_parent {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.button_hint {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    background-color: white;
    text-align: center;
}


.button_hint p {
    font-size: 20px;
}


.button_hint button {
    font-size: 20px;
}
