 .button_list {
    margin-left: 70px;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-right: 10px;
    border: 4px solid var(--main-color);
    padding: 11px 15px;
    border-radius: 7px;
    margin-top: 25px;
    font-size: 20px;
    color: var(--main-color);
}
